/* Add CSS Styling */
p {
    background-color: rgb(255, 198, 198);
}

.cool {
    font-size: 24px;
}

#special1 {
    color: blue;
    font-size: 36px;
}

#special2 {
    background-color: rgb(185, 244, 185);
    font-size: 24px;
    font-weight: bold;
}